body{
    font-family: 'Archivo', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

i{
    font-size: 37px;
    color: rgb(61, 61, 61);
    margin-top: 5rem;
    padding-left: 2rem;
}

img{
    width: 100vw;
    height: 50vw;
}

.info, .info2, .info3{
  padding-left: 2rem;
}

.container{
    margin: auto;
}

.logo{
    height: 15vw;
    width: 45vw;
    float: right;
}

.text{
    display: none;
}

.logo2{
    display: none;
}

.text2{
    display: none;
}

.dropbtn {
    background-color: rgb(255, 196, 0);
    color: white;
    font-size: 1rem;
    border: none;
    width: 100vw;
    height: 10vw;
    position: sticky;
  }
  
  .dropdown {
    position: sticky;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: sticky;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(255, 196, 0);
    }

    .topnav2 {
        overflow: hidden;
        background-color: rgb(255, 196, 0);
        display: none;
      }
      
      .topnav2 a {
        float: left;
        color: rgb(61, 61, 61);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.1rem;
      }
      
      .topnav2 a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav2 a.active {
        background-color: #4CAF50;
        color: white;
      }
      
      .topnav-right {
        float: right;
      }

  .menu{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 8px 0;
  }

.center{
    text-align: center;
}


.button{
    background-color: rgb(255, 196, 0);
    border: none;
    color: black;
    padding: 1.1rem 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-size: 2rem;
    height: 12vw;
    position: relative;
    margin: center;
}

/******Desktop*****/
@media screen and (min-width:992px){
    .topnav2{
        display: inline-block;
        top: 0%;
        width: 99vw;
        position: fixed;
    }

    html{
  width: 1500px;
}

    .dropdown{
        display: none;
    }
    
    img{
        width: 99vw;
        height: 35vw;
        top: 80px;
        position: relative;
    }

    .logo2{
        height: 5vw;
        width: 20vw;
        top: 46px;
        position: absolute;
        display: inline-block;
        margin-left: 8rem;
    }

    i{
        font-size: 20px;
        color: rgb(61, 61, 61);
    }

    .button{
        display: none;
    }
    
    .text{
        display: inline-block;
        font-size: 32px;
        height: 6vh;
        width: 90vh;
        text-align: center;
        margin: 0;
        color: rgb(61, 61, 61);
        background-color: rgb(255, 196, 0);
        left: 30%;
        bottom: 100px;
        position: relative;
        display: inline;
        margin-top: 0.3rem;
    }

    .text2{
        display: inline-block;
        color: rgb(61, 61, 61);
        left: 30%;
        top: 30px;
        position: relative;
        margin-top: 2rem;
    }
    
    .info{
      display: inline-block;
      width: 100%;
      grid-column-start: 1;
      grid-row: 2;
      grid-column-end: 2;  
    }
    .info2{
      display: inline-block;
      width: 80%;
      grid-column-start: 2;
      grid-row: 2;
      grid-column-end: 3;  
    }
    .info3{
      display: inline-block;
      width: 100%;
      grid-column-start: 3;
      grid-row: 2;
      grid-column-end: 4;  
    }

    #info{
      display: inline-block;
      width: 100%;
      grid-column-start: 1;
      grid-row: 1;
      grid-column-end: 2;  
    }
    #info2{
      display: inline-block;
      width: 100%;
      grid-column-start: 2;
      grid-row: 1;
      grid-column-end: 3;  
    }
    #info3{
      display: inline-block;
      width: 100%;
      grid-column-start: 3;
      grid-row: 1;
      grid-column-end: 4;  
    }
    .inhoud{
      display: grid;
      margin: 0 auto; 
      grid-template-columns: auto auto auto auto auto;  
    }
}